<ul>
    <li>
        <div class="property-row">
            <label for="videoTitle" class="required">Title</label>
            <input id="videoTitle"
                   name="videoTitle"
                   class="property-fulltext-input k-textbox"
                   type="text"
                   ng-disabled="!componentProperty.options"
                   ng-model="componentProperty.options.videoTitle"
                   required />
        </div>
    </li>
    <li style="margin-top: 20px;">
        <div class="property-row">
            <label>Video</label>
            <kendo-button ng-disabled="!componentProperty.options || ingUpload"
                          ng-click="uploadSelectFile('video', uploadCallbackVideo)"
                          title="영상 업로드"><i class="fa fa-upload margin-right-3"></i>업로드</kendo-button>
            <i ng-show="componentProperty.options.videoUrl"
               ng-disabled="ingUpload"
               ng-click="previewVideo(componentProperty.options.videoUrl)"
               class="fa fa-youtube-play fa-lg property-image-icon"></i>
        </div>
    </li>
    <li style="margin-top: 20px;">
        <div class="property-row">
            <label>Poster</label>
            <kendo-button ng-disabled="!componentProperty.options || ingUpload"
                          ng-click="uploadSelectFile('image', uploadCallback);imageUploadType = 'posterUrl'"
                          title="포스터 업로드"><i class="fa fa-upload margin-right-3"></i>업로드</kendo-button>
            <i kendo-tooltip
               k-content="posterImagePreview"
               ng-show="componentProperty.options.posterUrl"
               class="fa fa-picture-o fa-lg property-image-icon"></i>
        </div>
        <span class="k-invalid-msg property-msg" data-for="posterUrl"></span>
    </li>
</ul>
