<ul>
    <li>
        <div class="property-row">
            <label for="linkUrl" >Link URL</label>
            <input id="linkUrl"
                   name="linkUrl"
                   class="property-fulltext-input k-textbox"
                   type="text"
                   ng-disabled="!componentProperty.options"
                   ng-model="componentProperty.options.linkUrl" />
        </div>
        <span class="k-invalid-msg property-msg" data-for="linkUrl"></span>
    </li>
    <li>
        <div class="property-row">
            <label for="linkTarget" >Target</label>
            <select kendo-dropdownlist
                    name="linkTarget"
                    id="linkTarget"
                    ng-disabled="!componentProperty.options"
                    ng-model="componentProperty.options.linkTarget"
                    style="width: 120px;">
                <option value="_blank">새창</option>
                <option value="_self">현재창</option>
            </select>
        </div>
        <span class="k-invalid-msg property-msg" data-for="linkTarget"></span>
    </li>
    <li style="margin-top: 20px;">
        <div class="property-row">
            <label>Image</label>
            <kendo-button ng-disabled="!componentProperty.options || ingUpload"
                          ng-click="uploadSelectFile('image', uploadCallback);imageUploadType = 'imageUrl'"
                          title="이미지 업로드"><i class="fa fa-upload margin-right-3"></i>업로드</kendo-button>
            <i kendo-tooltip
               ng-show="componentProperty.options.imageUrl"
               k-content="imagePreview"
               class="fa fa-picture-o fa-lg property-image-icon"></i>
        </div>
        <span class="k-invalid-msg property-msg" data-for="imageUrl"></span>
    </li>
    <li style="margin-top: 20px;">
        <div class="property-row">
            <label>Image-over</label>
            <kendo-button ng-disabled="!componentProperty.options || ingUpload"
                          ng-click="uploadSelectFile('image', uploadCallback);imageUploadType = 'imageUrlHover'"
                          title="이미지 업로드"><i class="fa fa-upload margin-right-3"></i>업로드</kendo-button>
            <i kendo-tooltip
               k-content="imageHoverPreview"
               ng-show="componentProperty.options.imageUrlHover"
               class="fa fa-picture-o fa-lg property-image-icon"></i>
        </div>
        <span class="k-invalid-msg property-msg" data-for="imageUrlHover"></span>
    </li>
</ul>