#winSymbol {

}

.publish-wizard-form {
    padding: 1em;
}

.publish-wizard-form ul {
    margin: 10px;
}

.publish-wizard-form ul > li {
    padding: .5em;
}

.publish-wizard-form ul > li label {
    width: 80px;
}

.btn-box {
    text-align: center;
    margin: 7px 0px 0px 0px;
}

.btn-box i {
    margin-right: 3px;
}