<ul kendo-context-menu
    k-target="'.options-button'"
    k-show-on="'click'"
    k-on-select="onAddContents(kendoEvent)">
    <li data-value="image"><i class="fa fa-picture-o"></i><span class="context-menu-label">Image</span></li>
    <li data-value="text"><i class="fa fa-file-text-o"></i><span class="context-menu-label">TextBox</span></li>
    <li data-value="link"><i class="fa fa-link"></i><span class="context-menu-label">Link</span></li>
    <li data-value="video"><i class="fa fa-file-video-o"></i><span class="context-menu-label">Video</span></li>
</ul>