<ul kendo-context-menu
    k-filter="'.component-view'"
    k-on-open="onOpenContextMenu(kendoEvent)"
    k-on-select="onViewContextMenu(kendoEvent)">
    <!--<li ng-repeat="menu in $parent.$parent.componentContextMenu">
        <span data-value="{{menu.value}}">{{menu.text}}</span>
        <ul ng-if="menu.child">
            <li ng-repeat="subMenu in menu.child">
                <span data-value="{{subMenu.value}}">{{subMenu.text}}</span>
            </li>
        </ul>
    </li>-->
    <li data-value="changeBgImage"><i class="fa fa-picture-o"></i><span class="context-menu-label">배경 페이지 변경</span></li>
</ul>