<ul kendo-menu style="display: inline-block; min-width: 150px; width: 100%;"
    k-orientation="menuOrientation"
    k-rebind="menuOrientation"
    k-on-select="onSelect(kendoEvent)">
    <li>
        프로젝트
        <ul>
            <li>새 프로젝트
                <ul>
                    <li>새로 시작</li>
                    <li>템플릿 시작</li>
                </ul>
            </li>
            <li>불러오기</li>
            <li>저장하기</li>
            <li>새로 저장하기</li>
            <li>종료</li>
        </ul>
    </li>
    <li>
        페이지구성
        <ul>
            <li>PDF 추가</li>
            <li>페이지 추가</li>
            <li>페이지 삭제</li>
            <li>컨텐츠 추가
                <ul>
                    <li>Image</li>
                    <li>Text</li>
                    <li>Link</li>
                    <li>Video</li>
                </ul>
            </li>
            <li>컨텐츠 삭제</li>
        </ul>
    </li>
    <li>
        출판하기
        <ul>
            <li>미리보기</li>
            <li>출판하기</li>
        </ul>
    </li>
    <li>
        도움말
        <ul>
            <li>도움말</li>
            <li>업데이트</li>
            <li>솔루션 정보</li>
        </ul>
    </li>
</ul>