<ul kendo-menu style="display: inline-block; min-width: 150px; width: 100%;"
    k-orientation="menuOrientation"
    k-rebind="menuOrientation"
    k-on-select="onSelect(kendoEvent)">
    <li>
        프로젝트
        <ul>
            <li>새 프로젝트
                <ul>
                    <li data-item="newProject">새로 시작</li>
                    <li data-item="newTemplateProject">템플릿 시작</li>
                </ul>
            </li>
            <li data-item="loadProject">불러오기</li>
            <li data-item="saveProject">저장하기</li>
            <li data-item="saveAsProject">새로 저장하기</li>
            <li data-item="exit">종료</li>
        </ul>
    </li>
    <li>
        페이지구성
        <ul>
            <li data-item="addPdf">PDF 추가</li>
            <li data-item="addPage">페이지 추가</li>
            <li data-item="removePage">페이지 삭제</li>
            <li>컨텐츠 추가
                <ul>
                    <li data-item="addContentImage">Image</li>
                    <li data-item="addContentText">Text</li>
                    <li data-item="addContentLink">Link</li>
                    <li data-item="addContentVideo">Video</li>
                </ul>
            </li>
            <li data-item="removeContent">컨텐츠 삭제</li>
        </ul>
    </li>
    <li>
        출판하기
        <ul>
            <li data-item="previewBook">미리보기</li>
            <li data-item="publishBook">출판하기</li>
        </ul>
    </li>
    <li>
        도움말
        <ul>
            <li data-item="helpPopup">도움말</li>
            <li data-item="checkUpdate">업데이트</li>
            <li data-item="info9book">솔루션 정보</li>
        </ul>
    </li>
</ul>